include COPYING
include MANIFEST.in
include djvusmooth edit-text
include djvusmooth.py
include doc/*.1
include doc/*.txt
include doc/*.xml
include doc/changelog
include extra/*
include po/*.po
include tools/*
recursive-include lib *.py
