include MANIFEST.in
include COPYING
include djvusmooth.py
include doc/*.1
include doc/*.xml
include doc/changelog
include po/*.po
recursive-include lib/ *.py
include djvusmooth edit-text
include update-i18n
