[Desktop Entry]
Version=1.0
Type=Application
Name=djvusmooth
GenericName=Graphical editor for DjVu
GenericName[de]=Grafischer Editor für DjVu-Dateien
GenericName[pl]=Graficzny edytor plików DjVu
Exec=/usr/bin/djvusmooth %f
Terminal=false
MimeType=image/x-djvu;image/x.djvu;image/vnd.djvu;
Categories=Graphics;
